#content{
  text-align: center;
  padding-top: 20%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

#about{
  text-align: center;
  padding-top: 50%;
  padding-bottom: 50%;
}


html{
  height: 100%
}
body{
  background-image: url("Images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Oswald;
}

h1{
  font-weight: 500;
  font-size: 5.0em;
}

hr{
  width: 50%;
  color: black;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.abtimg{
  border-radius: 50%;
  max-width: 30%;
}

.abtxt{
  padding-top: 3%;
  margin-left: 30%;
  margin-right: 30%;
}

.navbar{
  width: 100%
}

.logos{
  margin: auto;
}
